{
  "auths": {
    "{{ acr_name }}.azurecr.io": {
      "username": "{{ acr_username }}",
      "password": "{{ acr_password }}",
      "auth": "{{ (acr_username + ':' + acr_password) | b64encode }}"
    }
  }
}
