apiVersion: v1
kind: Secret
metadata:
  name: acr-secret
  namespace: {{ k8s_namespace }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: "{{ lookup('template', 'acr-auth.json.j2') | from_yaml | to_json | b64encode }}"
