---
# Backend (vote storage) deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ back_deployment_name }}
  namespace: {{ k8s_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ back_deployment_name }}
  template:
    metadata:
      labels:
        app: {{ back_deployment_name }}
    spec:
      containers:
      - name: {{ back_deployment_name }}
        image: "{{ acr_name }}.azurecr.io/{{ image_name_k8s_back }}:{{ image_tag_k8s_back }}"
        ports:
        - containerPort: 6379
        volumeMounts:
        - name: data
          mountPath: "/data"
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: {{ pvc_name }}
      imagePullSecrets:
      - name: acr-secret

---
# Frontend deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ front_deployment_name }}
  namespace: {{ k8s_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ front_deployment_name }}
  template:
    metadata:
      labels:
        app: {{ front_deployment_name }}
    spec:
      containers:
      - name: {{ front_deployment_name }}
        image: "{{ acr_name }}.azurecr.io/{{ image_name_k8s_front }}:{{ image_tag_k8s_front }}"
        ports:
        - containerPort: 80
        env:
        - name: REDIS
          value: "{{ back_service_name }}"
      imagePullSecrets:
      - name: acr-secret
